.teams-container {
    width: 250px;
    border: 1px solid black;
 
    .match-button-container, .name {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .name {
        font-size: small;    
    }

    .match-container {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }

    .total-goals {
        display: flex;
        justify-content: end;
        padding: 10px;
        font-size: small;  
    }

    .match-button {
        padding: 0 20px;
    }
}
