<div class="teams-container">
    <div class="name">{{data.name}}</div>
    <div class="match-button-container">
        <button *ngIf="status === matchStatus.NotStarted" class="match-button" (click)="startMatch.emit()">Start</button>
        <button *ngIf="status === matchStatus.InProgress" class="match-button" (click)="restartMatch.emit()">Finish</button>
        <button *ngIf="status === matchStatus.Finished" class="match-button" (click)="restartMatch.emit()">Restart</button>
    </div>
    <div class="matches-container" *ngFor="let item of data.matches | keyvalue">
        <div class="match-container">
            <div>{{item.value.firstTeam}} vs {{item.value.secondTeam}}</div>
            <div>{{item.value.firstTeamGoals}} : {{item.value.secondTeamGoals}}</div>
        </div>
    </div>
    <div class="total-goals">Total goals: {{getTotalGoals()}}</div>
</div>
